<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>lzs的个人博客</title>
    <link rel="icon" href="/images/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="stylesheets/reset.css">
    <link rel="stylesheet" href="stylesheets/index.css">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_559130_f21vhtjwvjvmquxr.css">
</head>

<body>
    <!-- <div>
        <img src="/images/banner.jpg" alt="">
    </div> -->
    <div class="main">
        <header>
            <div class="m-logo">
                <a href="/">Lzs的个人博客</a>
            </div>
            <div class="m-input">
                <form action="/search" method="GET">
                    <input type="text" placeholder="search" name="keyword">
                    <input type="submit" value="">
                </form>
                <div class="iconfont icon-pin" id="icon-pin"></div>
            </div>
            <nav class="m-nav">
                <ul>
                    <li>
                        <a href="/">主页</a>
                    </li>
                    <li>
                        <a href="/">关于我</a>
                        <ul class="li-inside">
                            <li>
                                <a href="/">关于我1</a>
                            </li>
                            <li>
                                <a href="/">关于我2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/">文章列表</a>
                        <ul class="li-inside">
                            <li>
                                <a href="/">文章列表1</a>
                            </li>
                            <li>
                                <a href="/">文章列表2</a>
                            </li>
                            <li>
                                <a href="/">文章列表3</a>
                            </li>
                            <li>
                                <a href="/">文章列表4</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>

        </header>
        <div class="g-bd">
            <div class="g-top">

            </div>
            <div class="g-main"></div>
        </div>
        <footer></footer>
    </div>
    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/vconsole.min.js"></script>
    <script src="javascripts/index.js"></script>
    <script>
        var vConsole = new VConsole();
        console.log('Hello world');
        // var url = 'https://lab-dev.1tai.com/course/res/single-course-kimiwonosete/lesson-1/vzp.mp4';
        // function showVideo(videoUrl) {
        //     var div = $('<div class="video-container"></div>');
        //     $('.g-top').append(div);
        //     var video = $('<video class="lesson-video" controls></video>');
        //     video.attr('src', videoUrl);
        //     // video.canplay(function(){
        //         div.append(video);
        //         if ($('video')[0]) {
        //             $('video')[0].play();
        //         }
        //     // });
        // };
        // showVideo(url);
    </script>
</body>

</html>